extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="timetable", method="post")
    | Timetable:
    input(type="text", name="submit")

    input(type="submit", value="Submit")